
.container {
  width: 900px;
  margin: auto;
}

.banner {
  background-image: url("../../images/background.png");
  background-size: cover;
  height: 200px;
  width: 100%;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  color: white;
}

.banner p {
  color: white;
  opacity: .7;
  font-size: 20px;
}
